html, body {
  padding: 0;
  margin: 10px;
  font-family: verdana;
}

/* [SCOREBOARD] */
#scoreboard {
  margin: 0 auto;
  background: #333;
}
#scoreboard td {
  padding: 30px;
  text-align: center;
  
}
.scoredark{
  background: #000;
  border: 6px solid #000;
  border-radius: 5px;
  padding: 12px;
}
.scoregrey{
  background: #ddd;
  border-radius: 5px;
  padding: 40px;
}
#round {
  color: #56b231;
  font-size: 3em;
  font-weight: bold;
}
#scorenumber {
  color: #0f13ff;
  font-size: 3em;
  font-weight: bold;
}
#scorename {
  color: #333;
  font-size: 2em;
  font-weight: bold;
}

/* [HISTORY] */
#scorehistory {
  margin-top: 10px;
}
#scorehistory div {
  padding: 5px;
}
header {
  background-color: rgb(0, 0, 0);
  padding: 3px;
  font-size: 10em;
  font-weight: bold;
  text-align: center;
  color: rgb(211, 207, 0);
}
section {
  background-color: rgb(255, 255, 255);
  padding: 3px;
  font-size: 8em;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 0, 0);
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}